.notesCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem 0.2rem;
  height: auto;
  width: 75vw;
}

@media (max-width: 1000px) {
  .notesCont {
    margin: 0;
  }
}
