.noteInputCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(94, 93, 93);
  width: 50vw;
  padding: 1rem;
  margin: 2rem auto;
}

.noteInputCont input {
  width: 90%;
  height: 2rem;
  font-size: 1.2rem;
}

.noteInputCont img {
  width: 20px;
}
