.searchNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 0 1rem;
  background-color: rgb(94, 93, 93);
  height: 60px;
  width: 40vw;
}

.searchInput {
  font-size: 1.2rem;
  width: 35vw;
  height: 50px;
}

.icons {
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .searchNote {
    width: 30vw;
  }
  .searchInput {
    width: 20vw;
  }
}

@media (max-width: 800px) {
  .searchNote {
    width: 70vw;
  }
  .searchInput {
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .searchNote {
    width: 60vw;
  }
  .searchInput {
    width: 40vw;
  }
}

@media (max-width: 400px) {
  .searchNote {
    width: 55vw;
  }
  .searchInput {
    width: 30vw;
  }
}
