.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.main-cont {
  width: 100%;
}

.light {
  background-color: rgb(190, 190, 190);
}

.dark {
  background-color: rgb(78, 76, 76);
}
